name: My First CI

on:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Get my code
        uses: actions/checkout@v3

      - name: Force failure
        run: exit 1
